[submodule "submodules/android-store"]
	path = development/submodules/android-store
	url = https://github.com/soomla/android-store.git
[submodule "submodules/ios-store"]
	path = development/submodules/ios-store
url=https://github.com/ariesfath/ios-store.git
